@import "tailwindcss";
@import "floating-vue/dist/style.css";


@font-face {
  font-family: 'Fontin';
  src: url('/fonts/Fontin-Regular.ttf.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

:root {
  font-family: 'Fontin', Inter, Avenir, Helvetica, Arial, sans-serif;
  --base-font-size: 1rem;
  font-size: var(--base-font-size);
  line-height: 24px;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@custom-variant dark (&:where(.dark, .dark *));
